*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95)), url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1,p{
    color: white;
}

.btn_bck{
    background-color: #E32944;
    border-radius: 25px;
    padding: 15px 40px;
    border: none;
    border: 1px solid white;
    font-size: 16px;   
}

.btn_bck a{
    text-decoration: none;
    color: white;
}